{% extends "base.html" %}

{% block content %}
<h2>Mentions légales</h2>

<h3>Données</h3>

<p>
SEAO Ouvert utilise des données ouvertes mises à disposition par le Gouvernement du Québec.
</p>
<p>
Mention à publier conformément à la licence :
  <blockquote>
  Comprend des données ouvertes octroyées sous la licence d'utilisation des données ouvertes de l'Administration gouvernementale disponible à l'adresse Web : <a href="http://www.donnees.gouv.qc.ca">www.données.gouv.qc.ca</a> . L'octroi de la licence n'implique aucune approbation par l'Administration gouvernementale de l'utilisation des données ouvertes qui en est faite.
  </blockquote>
</p>
<p>
La licence complète d'utilisation des données ouvertes est disponible ici :
<a href="http://www.donnees.gouv.qc.ca/?node=/licence">http://www.donnees.gouv.qc.ca/?node=/licence</a>
</p>
{% endblock %}
