{% extends "base.html" %}

{% block content %}
<h2>Crédits</h2>

<p>
Ce site a été rendu possible grâce à l'utilisation de technologies libres et au travail de bénévoles impliqués dans les 
communautés Python et des données ouvertes.
</p>

<h3>Technologies libres</h3>

<ul>
  <li>Django</li>
  <li>South</li>
  <li>django-tastypie</li>
  <li>simplejson</li>
  <li>beautifulsoup4</li>
  <li>jQuery</li>
  <li>angularjs</li>
  <li>twitter-bootstrap</li>
</ul>

<h3>Bénévoles</h3>

<ul>
  <li>Davin Baragiotta</li>
  <li>Benoît Clennett-Sirois</li>
  <li>Louis-Bertrand Varin</li>
</ul>
{% endblock %}
