    <div role="main" ng-controller="MainCtrl">
      <div class="row">
        <h1 class="span12">SEAO Ouvert</h1>
        <h2 class="span12">Explorer les données</h2>
      </div>
      <div class="row">
        <form>
          <div class="span12">
      	    <label>Sélection des colonnes:</label>
            <button data-ng-class="{'btn-primary': selectedColumns[col]}"
                    class="btn columnSelection"
                    ng-repeat="col in availColumns"
                    ng-click="selectedColumns[col] = !selectedColumns[col]; $emit('colChanged', selectedColumns)">
              {{ col }}
            </button>
          </div>
        </form>
      </div>
      <div class="row">
        <div id="mainGrid" class="span12 gridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>
